VITE_SITE_TITLE = "网站标题"
VITE_API_BASE_URL = 'http://localhost:xxxx'
VITE_GLOB_API_URL=http://localhost:xxxx/api
VITE_ROUTER_HISTORY=hash
VITE_INJECT_APP_LOADING=true|false
VITE_ARCHIVER=true|false
VITE_LOADING_PROGRESS=true|false