{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "printWidth": 80,
  "htmlWhitespaceSensitivity": "css",
  "bracketSameLine": true,
  "singleAttributePerLine": true,
  "vueIndentScriptAndStyle": true
}