.ca-side-menu-option {
  width: calc(100% - 16px);
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1 0 auto;
  flex-wrap: nowrap;
  overflow: hidden;
  margin-left: 16px;
  color: rgba(255, 255, 255, 0.65);
  cursor: pointer;
  font-size: 14px;
  height: var(--ca-side-menu-option-option-height);
}

.ca-side-menu-option.is-active {
  color: color-mix(in srgb, var(--color-accent) 80%, #fff);
  background-color: rgba(255, 255, 255, 0.02);
}

.ca-side-menu-option:hover {
  color: color-mix(in srgb, var(--color-accent) 40%, #fff);
}

.ca-side-menu-option-prefix {
  margin-right: 16px;
}

.ca-side-menu-option-suffix {
  margin-left: auto;
  margin-right: 16px;
}

.ca-side-menu-option-content {
}