[class*="ca-col-"] {
  box-sizing: border-box;
  display: block;
}

/* ca-col-0 */

.ca-col-0 {
  display: none;
  max-width: 0;
  flex: 0 0 0;
}

.ca-col-0.is-guttered {
  display: none;
}

.ca-col-offset-0 {
  margin-left: 0;
}

.ca-col-pull-0 {
  position: relative;
  right: 0;
}

.ca-col-push-0 {
  position: relative;
  left: 0;
}

/* ca-col-1 */

.ca-col-1 {
  max-width: calc(100% * (1 / 24));
  flex: 0 0 calc(100% * (1 / 24));
}

.ca-col-1.is-guttered {
  display: block;
}

.ca-col-offset-1 {
  margin-left: calc(100% * (1 / 24));
}

.ca-col-pull-1 {
  position: relative;
  right: calc(100% * (1 / 24));
}

.ca-col-push-1 {
  position: relative;
  left: calc(100% * (1 / 24));
}

/* ca-col-2 */
.ca-col-2 {
  max-width: calc(100% * (2 / 24));
  flex: 0 0 calc(100% * (2 / 24));
}

.ca-col-2.is-guttered {
  display: block;
}

.ca-col-offset-2 {
  margin-left: calc(100% * (2 / 24));
}

.ca-col-pull-2 {
  position: relative;
  right: calc(100% * (2 / 24));
}

.ca-col-push-2 {
  position: relative;
  left: calc(100% * (2 / 24));
}

/* ca-col-3 */
.ca-col-3 {
  max-width: calc(100% * (3 / 24));
  flex: 0 0 calc(100% * (3 / 24));
}

.ca-col-3.is-guttered {
  display: block;
}

.ca-col-offset-3 {
  margin-left: calc(100% * (3 / 24));
}

.ca-col-pull-3 {
  position: relative;
  right: calc(100% * (3 / 24));
}

.ca-col-push-3 {
  position: relative;
  left: calc(100% * (3 / 24));
}

/* ca-col-4 */
.ca-col-4 {
  max-width: calc(100% * (4 / 24));
  flex: 0 0 calc(100% * (4 / 24));
}

.ca-col-4.is-guttered {
  display: block;
}

.ca-col-offset-4 {
  margin-left: calc(100% * (4 / 24));
}

.ca-col-pull-4 {
  position: relative;
  right: calc(100% * (4 / 24));
}

.ca-col-push-4 {
  position: relative;
  left: calc(100% * (4 / 24));
}

/* ca-col-5 */
.ca-col-5 {
  max-width: calc(100% * (5 / 24));
  flex: 0 0 calc(100% * (5 / 24));
}

.ca-col-5.is-guttered {
  display: block;
}

.ca-col-offset-5 {
  margin-left: calc(100% * (5 / 24));
}

.ca-col-pull-5 {
  position: relative;
  right: calc(100% * (5 / 24));
}

.ca-col-push-5 {
  position: relative;
  left: calc(100% * (5 / 24));
}

/* ca-col-6 */
.ca-col-6 {
  max-width: calc(100% * (6 / 24));
  flex: 0 0 calc(100% * (6 / 24));
}

.ca-col-6.is-guttered {
  display: block;
}

.ca-col-offset-6 {
  margin-left: calc(100% * (6 / 24));
}

.ca-col-pull-6 {
  position: relative;
  right: calc(100% * (6 / 24));
}

.ca-col-push-6 {
  position: relative;
  left: calc(100% * (6 / 24));
}

/* ca-col-7 */
.ca-col-7 {
  max-width: calc(100% * (7 / 24));
  flex: 0 0 calc(100% * (7 / 24));
}

.ca-col-7.is-guttered {
  display: block;
}

.ca-col-offset-7 {
  margin-left: calc(100% * (7 / 24));
}

.ca-col-pull-7 {
  position: relative;
  right: calc(100% * (7 / 24));
}

.ca-col-push-7 {
  position: relative;
  left: calc(100% * (7 / 24));
}

/* ca-col-8 */
.ca-col-8 {
  max-width: calc(100% * (8 / 24));
  flex: 0 0 calc(100% * (8 / 24));
}

.ca-col-8.is-guttered {
  display: block;
}

.ca-col-offset-8 {
  margin-left: calc(100% * (8 / 24));
}

.ca-col-pull-8 {
  position: relative;
  right: calc(100% * (8 / 24));
}

.ca-col-push-8 {
  position: relative;
  left: calc(100% * (8 / 24));
}

/* ca-col-9 */
.ca-col-9 {
  max-width: calc(100% * (9 / 24));
  flex: 0 0 calc(100% * (9 / 24));
}

.ca-col-9.is-guttered {
  display: block;
}

.ca-col-offset-9 {
  margin-left: calc(100% * (9 / 24));
}

.ca-col-pull-9 {
  position: relative;
  right: calc(100% * (9 / 24));
}

.ca-col-push-9 {
  position: relative;
  left: calc(100% * (9 / 24));
}

/* ca-col-10 */
.ca-col-10 {
  max-width: calc(100% * (10 / 24));
  flex: 0 0 calc(100% * (10 / 24));
}

.ca-col-10.is-guttered {
  display: block;
}

.ca-col-offset-10 {
  margin-left: calc(100% * (10 / 24));
}

.ca-col-pull-10 {
  position: relative;
  right: calc(100% * (10 / 24));
}

.ca-col-push-10 {
  position: relative;
  left: calc(100% * (10 / 24));
}

/* ca-col-11 */
.ca-col-11 {
  max-width: calc(100% * (11 / 24));
  flex: 0 0 calc(100% * (11 / 24));
}

.ca-col-11.is-guttered {
  display: block;
}

.ca-col-offset-11 {
  margin-left: calc(100% * (11 / 24));
}

.ca-col-pull-11 {
  position: relative;
  right: calc(100% * (11 / 24));
}

.ca-col-push-11 {
  position: relative;
  left: calc(100% * (11 / 24));
}

/* ca-col-12 */
.ca-col-12 {
  max-width: calc(100% * (12 / 24));
  flex: 0 0 calc(100% * (12 / 24));
}

.ca-col-12.is-guttered {
  display: block;
}

.ca-col-offset-12 {
  margin-left: calc(100% * (12 / 24));
}

.ca-col-pull-12 {
  position: relative;
  right: calc(100% * (12 / 24));
}

.ca-col-push-12 {
  position: relative;
  left: calc(100% * (12 / 24));
}

/* ca-col-13 */
.ca-col-13 {
  max-width: calc(100% * (13 / 24));
  flex: 0 0 calc(100% * (13 / 24));
}

.ca-col-13.is-guttered {
  display: block;
}

.ca-col-offset-13 {
  margin-left: calc(100% * (13 / 24));
}

.ca-col-pull-13 {
  position: relative;
  right: calc(100% * (13 / 24));
}

.ca-col-push-13 {
  position: relative;
  left: calc(100% * (13 / 24));
}

/* ca-col-14 */
.ca-col-14 {
  max-width: calc(100% * (14 / 24));
  flex: 0 0 calc(100% * (14 / 24));
}

.ca-col-14.is-guttered {
  display: block;
}

.ca-col-offset-14 {
  margin-left: calc(100% * (14 / 24));
}

.ca-col-pull-14 {
  position: relative;
  right: calc(100% * (14 / 24));
}

.ca-col-push-14 {
  position: relative;
  left: calc(100% * (14 / 24));
}

/* ca-col-15 */
.ca-col-15 {
  max-width: calc(100% * (15 / 24));
  flex: 0 0 calc(100% * (15 / 24));
}

.ca-col-15.is-guttered {
  display: block;
}

.ca-col-offset-15 {
  margin-left: calc(100% * (15 / 24));
}

.ca-col-pull-15 {
  position: relative;
  right: calc(100% * (15 / 24));
}

.ca-col-push-15 {
  position: relative;
  left: calc(100% * (15 / 24));
}

/* ca-col-16 */
.ca-col-16 {
  max-width: calc(100% * (16 / 24));
  flex: 0 0 calc(100% * (16 / 24));
}

.ca-col-16.is-guttered {
  display: block;
}

.ca-col-offset-16 {
  margin-left: calc(100% * (16 / 24));
}

.ca-col-pull-16 {
  position: relative;
  right: calc(100% * (16 / 24));
}

.ca-col-push-16 {
  position: relative;
  left: calc(100% * (16 / 24));
}

/* ca-col-17 */
.ca-col-17 {
  max-width: calc(100% * (17 / 24));
  flex: 0 0 calc(100% * (17 / 24));
}

.ca-col-17.is-guttered {
  display: block;
}

.ca-col-offset-17 {
  margin-left: calc(100% * (17 / 24));
}

.ca-col-pull-17 {
  position: relative;
  right: calc(100% * (17 / 24));
}

.ca-col-push-17 {
  position: relative;
  left: calc(100% * (17 / 24));
}

/* ca-col-18 */
.ca-col-18 {
  max-width: calc(100% * (18 / 24));
  flex: 0 0 calc(100% * (18 / 24));
}

.ca-col-18.is-guttered {
  display: block;
}

.ca-col-offset-18 {
  margin-left: calc(100% * (18 / 24));
}

.ca-col-pull-18 {
  position: relative;
  right: calc(100% * (18 / 24));
}

.ca-col-push-18 {
  position: relative;
  left: calc(100% * (18 / 24));
}

/* ca-col-19 */
.ca-col-19 {
  max-width: calc(100% * (19 / 24));
  flex: 0 0 calc(100% * (19 / 24));
}

.ca-col-19.is-guttered {
  display: block;
}

.ca-col-offset-19 {
  margin-left: calc(100% * (19 / 24));
}

.ca-col-pull-19 {
  position: relative;
  right: calc(100% * (19 / 24));
}

.ca-col-push-19 {
  position: relative;
  left: calc(100% * (19 / 24));
}

/* ca-col-20 */
.ca-col-20 {
  max-width: calc(100% * (20 / 24));
  flex: 0 0 calc(100% * (20 / 24));
}

.ca-col-20.is-guttered {
  display: block;
}

.ca-col-offset-20 {
  margin-left: calc(100% * (20 / 24));
}

.ca-col-pull-20 {
  position: relative;
  right: calc(100% * (20 / 24));
}

.ca-col-push-20 {
  position: relative;
  left: calc(100% * (20 / 24));
}

/* ca-col-21 */
.ca-col-21 {
  max-width: calc(100% * (21 / 24));
  flex: 0 0 calc(100% * (21 / 24));
}

.ca-col-21.is-guttered {
  display: block;
}

.ca-col-offset-21 {
  margin-left: calc(100% * (21 / 24));
}

.ca-col-pull-21 {
  position: relative;
  right: calc(100% * (21 / 24));
}

.ca-col-push-21 {
  position: relative;
  left: calc(100% * (21 / 24));
}

/* ca-col-22 */
.ca-col-22 {
  max-width: calc(100% * (22 / 24));
  flex: 0 0 calc(100% * (22 / 24));
}

.ca-col-22.is-guttered {
  display: block;
}

.ca-col-offset-22 {
  margin-left: calc(100% * (22 / 24));
}

.ca-col-pull-22 {
  position: relative;
  right: calc(100% * (22 / 24));
}

.ca-col-push-22 {
  position: relative;
  left: calc(100% * (22 / 24));
}

/* ca-col-23 */
.ca-col-23 {
  max-width: calc(100% * (23 / 24));
  flex: 0 0 calc(100% * (23 / 24));
}

.ca-col-23.is-guttered {
  display: block;
}

.ca-col-offset-23 {
  margin-left: calc(100% * (23 / 24));
}

.ca-col-pull-23 {
  position: relative;
  right: calc(100% * (23 / 24));
}

.ca-col-push-23 {
  position: relative;
  left: calc(100% * (23 / 24));
}

/* ca-col-24 */
.ca-col-24 {
  max-width: calc(100% * (24 / 24));
  flex: 0 0 calc(100% * (24 / 24));
}

.ca-col-24.is-guttered {
  display: block;
}

.ca-col-offset-24 {
  margin-left: calc(100% * (24 / 24));
}

.ca-col-pull-24 {
  position: relative;
  right: calc(100% * (24 / 24));
}

.ca-col-push-24 {
  position: relative;
  left: calc(100% * (24 / 24));
}