
.ca-field {
  display: inline-block;
  box-sizing: border-box;
  background-color: var(--bg-field);
  position: relative;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  transition: outline-color 300ms ease, box-shadow 300ms ease, background-color 300ms ease;
}

.ca-field.ca-field--size-S {
  padding: var(--padding-field-S);
}

.ca-field.ca-field--size-M {
  padding: var(--padding-field-M);
}

.ca-field.ca-field--size-L {
  padding: var(--padding-field-L);
}

.ca-field.is-radius {
  border-radius: var(--ca-radius);
}

.ca-field.is-focus {
  outline: var(--outline-field-focus);
  box-shadow: var(--shadow-field-focus);
}

.ca-field.is-disabled {
  background-color: var(--bg-field-disabled);
}

.ca-field.is-border {
  border: var(--field-border);
}

.ca-field:has(.ca-field__count) {
  padding-bottom: 24px;
}

.ca-field__container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.ca-field__inner {
  box-sizing: border-box;
  width: var(--ca-inner-width, auto);
  height: var(--ca-inner-height, auto);
  color: var(--color-field-text);
  background-color: transparent;
  font-size: var(--size-field-font);
  border: 1px solid transparent;
  outline: 1px solid transparent;
  resize: unset;
}

.is-horizontal .ca-field__inner {
  resize: horizontal;
}

.is-vertical .ca-field__inner {
  resize: vertical;
}

.is-horizontal.is-vertical .ca-field__inner,
.is-resize .ca-field__inner {
  resize: both;
}

.is-disabled .ca-field__inner {
  color: var(--color-field-disabled-text);
  background-color: transparent;
}

.ca-field__inner::placeholder {
  color: var(--color-field-placeholder);
}

.ca-field__count {
  position: absolute;
  right: 8px;
  bottom: 4px;
  font-size: 12px;
  line-height: 1;
  color: var(--color-field-placeholder);
  user-select: none;
  pointer-events: none;
  background-color: transparent;
}

.is-length-error .ca-field__count {
  color: var(--color-field-length-error);
  font-weight: bold;
}
