.ca-row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;
}

.ca-row.is-justify-center {
  justify-content: center;
}

.ca-row.is-justify-end {
  justify-content: flex-end;
}

.ca-row.is-justify-space-between {
  justify-content: space-between;
}

.ca-row.is-justify-space-around {
  justify-content: space-around;
}

.ca-row.is-justify-space-evenly {
  justify-content: space-evenly;
}

.ca-row.is-align-top {
  align-items: flex-start;
}

.ca-row.is-align-middle {
  align-items: center;
}

.ca-row.is-align-bottom {
  align-items: flex-end;
}